.board {
    background-color: lightgray;
    width: 300px;
    border-radius: 10px;
    padding: 10px 10px;
}

.btn-add-card {
    text-align: left;
    width: 100%;
}

.list-title {
    color: #272727;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

ul {
    padding-left: 0px;
}